#notes
  %h2 Notes
  = render @phone.ordered_notes

  %br
  = f.fields_for :notes, @phone.notes.build do |n|
    %br
    = n.label :content
    %br
    = n.text_area :content, :autofocus => true
    %br