@mixin button {
  background: #eee;
  background: -moz-linear-gradient(0% 100% 90deg, #bfbfbf, #eee);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eee), to(#bfbfbf));
  border: 1px solid #ccc;
  @include border-radius(3px);
  -moz-box-shadow: inset 0 0 5px #f5f5f5;
  -webkit-box-shadow: inset 0 0 5px #f5f5f5;
  box-shadow: inset 0 0 5px #f5f5f5;
  color: #333;
  font-family: "Helvetica Nue", Helvetica, "lucida grande", sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  padding: 8px 0;
  text-align: center;
  text-shadow: 0 1px 0px #eee;
  width: 150px;
  &:hover {
    background: #dfdfdf;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#dfdfdf), to(#aaa));
    background: -moz-linear-gradient(0% 100% 90deg, #aaa, #dfdfdf);
    -moz-box-shadow: inset 0 0 5px #e5e5e5;
    -webkit-box-shadow: inset 0 0 5px #e5e5e5;
    box-shadow: inset 0 0 5px #e5e5e5;
  }
}

input[type='text'], textarea {
  @include border-radius(3px);
  background: white;
  -webkit-box-shadow: inset 0px 0px 5px 0px silver;
  -moz-box-shadow: inset 0px 0px 5px silver;
  box-shadow: inset 0px 0px 5px silver;
}

input[type='submit'] {
  @include button; }

.edit_phone label {
  @include border-left-radius(15px);
  background: #63a62f;
  padding: 7px 6px 6px 15px;
  -webkit-box-shadow: inset 0 0 4px #eeb;
  -moz-box-shadow: inset 0 0 4px #eeb;
  margin: -4px;
  color: white;
  @include text-shadow(black); }

.edit_phone {
  input[type='text'] {
    @include border-left-radius(0px);
  }
  input[type='submit'] {
    margin-left: 5px; } }

#logo h1 {
  @include alt;
  a { text-decoration: none;
      color: inherit; } }

#call-button {
  margin-top: 15px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  padding: 8px 20px 8px 20px;
  letter-spacing: 1.5px;
  color: #eeb;
  @include border-radius(5px);
  -moz-box-shadow: inset 0 0 5px silver;
  -webkit-box-shadow: inset 0 0 5px silver;
  box-shadow: inset 0 0 5px silver;
  text-shadow: 0 1px 0px black;
  padding-left: 40px;
  background-image: url(../images/phone.png),
    -webkit-gradient(linear, left top, left bottom,
      from(darken($primary-background-color, 60%)),
      to(darken($primary-background-color, 80%))) !important;
  background-image: url(../images/phone.png),
    -moz-linear-gradient(top, darken($primary-background-color, 60%),
			      darken($primary-background-color, 80%));


  background-repeat: no-repeat;
  background-position: 2% 50%;
  background-color: darken($primary-background-color, 60%);
  }

#content {
  margin: 0px;
  text-align: center; }

#notes {
  margin: 0px;
  padding: 0px;
  text-align: center;
  ul { text-align: justify;
       padding-left: 70px; }
  li {
    list-style-type: none;
    padding: 15px;
    border-top: 1px dotted silver;;
    border-bottom: 1px dotted silver;
  }
}

#new_note {
  margin-left: none;
  margin-right: none;
  textarea {
    margin: none;
    padding: 5px; }
}

.new_note {
  margin: 0px;
  padding: 0px;
  display: inline; }


.creation_time {
     display: inline;
     float: right;
     color: white;
     background: brown;
     font-style: italic;
     @include border-radius(2px);
     width: 130px;
     text-align: center;
}

button:hover, input[type='submit']:hover {
  cursor:pointer; }
