#logo h1 {
  @include alt;
  a { text-decoration: none;
      color: inherit; } }

#call-button {
  margin-top: 15px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  padding: 8px 20px 8px 20px;
  letter-spacing: 1.5px;
  color: #eeb;
  @include border-radius(5px);
  @include box-shadow(silver);
  @include text-shadow(black);
  padding-left: 40px;
  background-image: url(../images/phone.png),
    -webkit-gradient(linear, left top, left bottom,
      from(darken($primary-background-color, 60%)),
      to(darken($primary-background-color, 80%))) !important;
  background-image: url(../images/phone.png),
    -moz-linear-gradient(top, darken($primary-background-color, 60%),
			      darken($primary-background-color, 80%));


  background-repeat: no-repeat;
  background-position: 2% 50%;
  background-color: darken($primary-background-color, 60%);
  }

#content {
  margin: 0px;
  text-align: center; }

#notes {
  margin: 0px;
  padding: 0px;
  text-align: center;
  ul { text-align: justify;
       padding-left: 70px; }
  li {
    list-style-type: none;
    padding: 15px;
    border-top: 1px dotted silver;;
    border-bottom: 1px dotted silver;
  }
}

#new_note {
  margin-left: none;
  margin-right: none;
  textarea {
    margin: none;
    padding: 5px; }
}

.new_note {
  margin: 0px;
  padding: 0px;
  display: inline; }


.creation_time {
     display: inline;
     float: right;
     color: white;
     background: brown;
     font-style: italic;
     @include border-radius(2px);
     width: 130px;
     text-align: center;
}

button:hover, input[type='submit']:hover {
  cursor:pointer; }
