/* line 4, ../../../../../../.rvm/gems/ruby-1.9.2-p136@call-q/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 6, ../../../../../../.rvm/gems/ruby-1.9.2-p136@call-q/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  font-size: 100.01%;
}

/* line 16, ../../../../../../.rvm/gems/ruby-1.9.2-p136@call-q/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
pre, a, abbr, acronym, address, code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 18, ../../../../../../.rvm/gems/ruby-1.9.2-p136@call-q/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  quotes: "" "";
}
/* line 45, ../../../../../../.rvm/gems/ruby-1.9.2-p136@call-q/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 20, ../../../../../../.rvm/gems/ruby-1.9.2-p136@call-q/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 22, ../../../../../../.rvm/gems/ruby-1.9.2-p136@call-q/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, ../../../../../../.rvm/gems/ruby-1.9.2-p136@call-q/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

/* line 9, ../../app/stylesheets/partials/_page.scss */
body.call-q {
  line-height: 1.5;
  font-family: "Helvetica", Arial;
  color: #333333;
  font-size: 75%;
  background: #eeb;
}
/* line 65, ../../../../../../.rvm/gems/ruby-1.9.2-p136@call-q/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.call-q h1, body.call-q h2, body.call-q h3, body.call-q h4, body.call-q h5, body.call-q h6 {
  font-weight: normal;
  color: #222222;
}
/* line 66, ../../../../../../.rvm/gems/ruby-1.9.2-p136@call-q/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.call-q h1 img, body.call-q h2 img, body.call-q h3 img, body.call-q h4 img, body.call-q h5 img, body.call-q h6 img {
  margin: 0;
}
/* line 67, ../../../../../../.rvm/gems/ruby-1.9.2-p136@call-q/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.call-q h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.50em;
}
/* line 68, ../../../../../../.rvm/gems/ruby-1.9.2-p136@call-q/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.call-q h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
/* line 69, ../../../../../../.rvm/gems/ruby-1.9.2-p136@call-q/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.call-q h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1.00em;
}
/* line 70, ../../../../../../.rvm/gems/ruby-1.9.2-p136@call-q/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.call-q h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
/* line 71, ../../../../../../.rvm/gems/ruby-1.9.2-p136@call-q/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.call-q h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.50em;
}
/* line 72, ../../../../../../.rvm/gems/ruby-1.9.2-p136@call-q/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.call-q h6 {
  font-size: 1em;
  font-weight: bold;
}
/* line 73, ../../../../../../.rvm/gems/ruby-1.9.2-p136@call-q/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.call-q p {
  margin: 0 0 1.5em;
}
/* line 74, ../../../../../../.rvm/gems/ruby-1.9.2-p136@call-q/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.call-q p img.left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
/* line 75, ../../../../../../.rvm/gems/ruby-1.9.2-p136@call-q/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.call-q p img.right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}
/* line 77, ../../../../../../.rvm/gems/ruby-1.9.2-p136@call-q/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.call-q a {
  text-decoration: underline;
  color: #000099;
}
/* line 18, ../../../../../../.rvm/gems/ruby-1.9.2-p136@call-q/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body.call-q a:visited {
  color: #000066;
}
/* line 21, ../../../../../../.rvm/gems/ruby-1.9.2-p136@call-q/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body.call-q a:focus {
  color: black;
}
/* line 24, ../../../../../../.rvm/gems/ruby-1.9.2-p136@call-q/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body.call-q a:hover {
  color: black;
}
/* line 27, ../../../../../../.rvm/gems/ruby-1.9.2-p136@call-q/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body.call-q a:active {
  color: #cc0099;
}
/* line 78, ../../../../../../.rvm/gems/ruby-1.9.2-p136@call-q/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.call-q blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}
/* line 79, ../../../../../../.rvm/gems/ruby-1.9.2-p136@call-q/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.call-q strong {
  font-weight: bold;
}
/* line 80, ../../../../../../.rvm/gems/ruby-1.9.2-p136@call-q/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.call-q em {
  font-style: italic;
}
/* line 81, ../../../../../../.rvm/gems/ruby-1.9.2-p136@call-q/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.call-q dfn {
  font-style: italic;
  font-weight: bold;
}
/* line 82, ../../../../../../.rvm/gems/ruby-1.9.2-p136@call-q/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.call-q sup, body.call-q sub {
  line-height: 0;
}
/* line 83, ../../../../../../.rvm/gems/ruby-1.9.2-p136@call-q/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.call-q abbr, body.call-q acronym {
  border-bottom: 1px dotted #666666;
}
/* line 84, ../../../../../../.rvm/gems/ruby-1.9.2-p136@call-q/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.call-q address {
  margin: 0 0 1.5em;
  font-style: italic;
}
/* line 85, ../../../../../../.rvm/gems/ruby-1.9.2-p136@call-q/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.call-q del {
  color: #666666;
}
/* line 86, ../../../../../../.rvm/gems/ruby-1.9.2-p136@call-q/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.call-q pre {
  margin: 1.5em 0;
  white-space: pre;
}
/* line 87, ../../../../../../.rvm/gems/ruby-1.9.2-p136@call-q/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.call-q pre, body.call-q code, body.call-q tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}
/* line 88, ../../../../../../.rvm/gems/ruby-1.9.2-p136@call-q/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.call-q li ul, body.call-q li ol {
  margin: 0;
}
/* line 89, ../../../../../../.rvm/gems/ruby-1.9.2-p136@call-q/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.call-q ul, body.call-q ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 3.333em;
}
/* line 90, ../../../../../../.rvm/gems/ruby-1.9.2-p136@call-q/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.call-q ul {
  list-style-type: disc;
}
/* line 91, ../../../../../../.rvm/gems/ruby-1.9.2-p136@call-q/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.call-q ol {
  list-style-type: decimal;
}
/* line 92, ../../../../../../.rvm/gems/ruby-1.9.2-p136@call-q/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.call-q dl {
  margin: 0 0 1.5em 0;
}
/* line 93, ../../../../../../.rvm/gems/ruby-1.9.2-p136@call-q/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.call-q dl dt {
  font-weight: bold;
}
/* line 94, ../../../../../../.rvm/gems/ruby-1.9.2-p136@call-q/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.call-q dd {
  margin-left: 1.5em;
}
/* line 95, ../../../../../../.rvm/gems/ruby-1.9.2-p136@call-q/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.call-q table {
  margin-bottom: 1.4em;
  width: 100%;
}
/* line 96, ../../../../../../.rvm/gems/ruby-1.9.2-p136@call-q/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.call-q th {
  font-weight: bold;
}
/* line 97, ../../../../../../.rvm/gems/ruby-1.9.2-p136@call-q/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.call-q thead th {
  background: #c3d9ff;
}
/* line 98, ../../../../../../.rvm/gems/ruby-1.9.2-p136@call-q/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.call-q th, body.call-q td, body.call-q caption {
  padding: 4px 10px 4px 5px;
}
/* line 99, ../../../../../../.rvm/gems/ruby-1.9.2-p136@call-q/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.call-q tr.even td {
  background: #e5ecf9;
}
/* line 100, ../../../../../../.rvm/gems/ruby-1.9.2-p136@call-q/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.call-q tfoot {
  font-style: italic;
}
/* line 101, ../../../../../../.rvm/gems/ruby-1.9.2-p136@call-q/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.call-q caption {
  background: #eeeeee;
}
/* line 102, ../../../../../../.rvm/gems/ruby-1.9.2-p136@call-q/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.call-q .quiet {
  color: #666666;
}
/* line 103, ../../../../../../.rvm/gems/ruby-1.9.2-p136@call-q/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.call-q .loud {
  color: #111111;
}
/* line 9, ../../../../../../.rvm/gems/ruby-1.9.2-p136@call-q/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.call-q .clear {
  clear: both;
}
/* line 12, ../../../../../../.rvm/gems/ruby-1.9.2-p136@call-q/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.call-q .nowrap {
  white-space: nowrap;
}
/* line 16, ../../../../../../.rvm/gems/ruby-1.9.2-p136@call-q/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.call-q .clearfix {
  overflow: hidden;
  *zoom: 1;
}
/* line 18, ../../../../../../.rvm/gems/ruby-1.9.2-p136@call-q/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.call-q .small {
  font-size: 0.8em;
  margin-bottom: 1.875em;
  line-height: 1.875em;
}
/* line 22, ../../../../../../.rvm/gems/ruby-1.9.2-p136@call-q/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.call-q .large {
  font-size: 1.2em;
  line-height: 2.5em;
  margin-bottom: 1.25em;
}
/* line 26, ../../../../../../.rvm/gems/ruby-1.9.2-p136@call-q/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.call-q .first {
  margin-left: 0;
  padding-left: 0;
}
/* line 29, ../../../../../../.rvm/gems/ruby-1.9.2-p136@call-q/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.call-q .last {
  margin-right: 0;
  padding-right: 0;
}
/* line 32, ../../../../../../.rvm/gems/ruby-1.9.2-p136@call-q/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.call-q .top {
  margin-top: 0;
  padding-top: 0;
}
/* line 35, ../../../../../../.rvm/gems/ruby-1.9.2-p136@call-q/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.call-q .bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}
/* line 8, ../../../../../../.rvm/gems/ruby-1.9.2-p136@call-q/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_debug.scss */
body.call-q .showgrid {
  background: url('/images/grid.png?1294771468');
}
/* line 4, ../../../../../../.rvm/gems/ruby-1.9.2-p136@call-q/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.call-q .error {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4;
}
/* line 29, ../../../../../../.rvm/gems/ruby-1.9.2-p136@call-q/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.call-q .error a {
  color: #8a1f11;
}
/* line 6, ../../../../../../.rvm/gems/ruby-1.9.2-p136@call-q/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.call-q .notice {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fff6bf;
  color: #514721;
  border-color: #ffd324;
}
/* line 37, ../../../../../../.rvm/gems/ruby-1.9.2-p136@call-q/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.call-q .notice a {
  color: #514721;
}
/* line 8, ../../../../../../.rvm/gems/ruby-1.9.2-p136@call-q/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.call-q .success {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #e6efc2;
  color: #264409;
  border-color: #c6d880;
}
/* line 45, ../../../../../../.rvm/gems/ruby-1.9.2-p136@call-q/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.call-q .success a {
  color: #264409;
}
/* line 10, ../../../../../../.rvm/gems/ruby-1.9.2-p136@call-q/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.call-q .hide {
  display: none;
}
/* line 12, ../../../../../../.rvm/gems/ruby-1.9.2-p136@call-q/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.call-q .highlight {
  background: yellow;
}
/* line 14, ../../../../../../.rvm/gems/ruby-1.9.2-p136@call-q/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.call-q .added {
  background: #006600;
  color: white;
}
/* line 16, ../../../../../../.rvm/gems/ruby-1.9.2-p136@call-q/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.call-q .removed {
  background: #990000;
  color: white;
}

/* line 41, ../../../../../../.rvm/gems/ruby-1.9.2-p136@call-q/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
body.call-q .box {
  padding: 1.5em;
  margin-bottom: 1.5em;
  background: #e5ecf9;
}
/* line 44, ../../../../../../.rvm/gems/ruby-1.9.2-p136@call-q/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
body.call-q div.border {
  padding-right: 4px;
  margin-right: 5px;
  border-right: 1px solid #eeeeee;
}
/* line 47, ../../../../../../.rvm/gems/ruby-1.9.2-p136@call-q/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
body.call-q div.colborder {
  padding-right: 24px;
  margin-right: 25px;
  border-right: 1px solid #eeeeee;
}
/* line 49, ../../../../../../.rvm/gems/ruby-1.9.2-p136@call-q/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
body.call-q hr {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  margin: 0 0 1.45em;
  border: none;
}
/* line 51, ../../../../../../.rvm/gems/ruby-1.9.2-p136@call-q/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
body.call-q hr.space {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  margin: 0 0 1.45em;
  border: none;
  background: white;
  color: white;
  visibility: hidden;
}
/* line 53, ../../../../../../.rvm/gems/ruby-1.9.2-p136@call-q/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
body.call-q form.inline {
  line-height: 3;
}
/* line 6, ../../../../../../.rvm/gems/ruby-1.9.2-p136@call-q/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
body.call-q form.inline p {
  margin-bottom: 0;
}

/* line 18, ../../../../../../.rvm/gems/ruby-1.9.2-p136@call-q/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
#content form label {
  font-weight: bold;
}
/* line 19, ../../../../../../.rvm/gems/ruby-1.9.2-p136@call-q/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
#content form fieldset {
  padding: 1.4em;
  margin: 0 0 1.5em 0;
}
/* line 20, ../../../../../../.rvm/gems/ruby-1.9.2-p136@call-q/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
#content form legend {
  font-weight: bold;
  font-size: 1.2em;
}
/* line 26, ../../../../../../.rvm/gems/ruby-1.9.2-p136@call-q/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
#content form input.text, #content form input.title, #content form input[type=email], #content form input[type=text], #content form input[type=password] {
  margin: 0.5em 0;
  background-color: white;
  padding: 5px;
}
/* line 27, ../../../../../../.rvm/gems/ruby-1.9.2-p136@call-q/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
#content form input.title {
  font-size: 1.5em;
}
/* line 31, ../../../../../../.rvm/gems/ruby-1.9.2-p136@call-q/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
#content form input[type=checkbox], #content form input.checkbox, #content form input[type=radio], #content form input.radio {
  position: relative;
  top: 0.25em;
}
/* line 33, ../../../../../../.rvm/gems/ruby-1.9.2-p136@call-q/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
#content form textarea {
  margin: 0.5em 0;
  padding: 5px;
}
/* line 34, ../../../../../../.rvm/gems/ruby-1.9.2-p136@call-q/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
#content form select {
  margin: 0.5em 0;
}
/* line 59, ../../../../../../.rvm/gems/ruby-1.9.2-p136@call-q/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
#content form fieldset {
  border: 1px solid #cccccc;
}
/* line 62, ../../../../../../.rvm/gems/ruby-1.9.2-p136@call-q/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
#content form input.text, #content form input.title, #content form input[type=email], #content form input[type=text], #content form input[type=password],
#content form textarea, #content form select {
  border: 1px solid #bbbbbb;
}
/* line 64, ../../../../../../.rvm/gems/ruby-1.9.2-p136@call-q/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
#content form input.text:focus, #content form input.title:focus, #content form input[type=email]:focus, #content form input[type=text]:focus, #content form input[type=password]:focus,
#content form textarea:focus, #content form select:focus {
  border: 1px solid #666666;
}
/* line 48, ../../../../../../.rvm/gems/ruby-1.9.2-p136@call-q/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
#content form input.text, #content form input.title, #content form input[type=email], #content form input[type=text], #content form input[type=password] {
  width: 300px;
}
/* line 50, ../../../../../../.rvm/gems/ruby-1.9.2-p136@call-q/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
#content form textarea {
  width: 390px;
  height: 250px;
}

/* line 8, ../../app/stylesheets/partials/_form.scss */
#flash_notice {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fff6bf;
  color: #514721;
  border-color: #ffd324;
}
/* line 37, ../../../../../../.rvm/gems/ruby-1.9.2-p136@call-q/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
#flash_notice a {
  color: #514721;
}

/* line 11, ../../app/stylesheets/partials/_form.scss */
#flash_alert, #flash_error {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4;
}
/* line 29, ../../../../../../.rvm/gems/ruby-1.9.2-p136@call-q/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
#flash_alert a, #flash_error a {
  color: #8a1f11;
}

/* line 15, ../../app/stylesheets/partials/_form.scss */
#new_phone input[type='tel'] {
  text-align: center;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  width: 300px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: #333333 1px 1px 5px 0;
  -webkit-box-shadow: #333333 1px 1px 5px 0;
  -o-box-shadow: #333333 1px 1px 5px 0;
  box-shadow: #333333 1px 1px 5px 0;
  border: none;
  padding: 5px;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #eeeebb), color-stop(100%, #ffffff));
  background-image: -moz-linear-gradient(top, #eeeebb 0%, #ffffff 100%);
  background-image: linear-gradient(top, #eeeebb 0%, #ffffff 100%);
}
/* line 28, ../../app/stylesheets/partials/_form.scss */
#new_phone #phone_submit {
  margin-top: 30px;
  padding: 10px 50px 10px 50px;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
  -moz-box-shadow: #333333 1px 1px 5px 0;
  -webkit-box-shadow: #333333 1px 1px 5px 0;
  -o-box-shadow: #333333 1px 1px 5px 0;
  box-shadow: #333333 1px 1px 5px 0;
  text-shadow: black 1px 1px 1px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #5f5f18), color-stop(100%, #0e0e03));
  background-image: -moz-linear-gradient(top, #5f5f18 0%, #0e0e03 100%);
  background-image: linear-gradient(top, #5f5f18 0%, #0e0e03 100%);
}

/* line 24, ../../app/stylesheets/partials/_two_col.scss */
body.call-q {
  margin-top: 15px;
}
/* line 26, ../../app/stylesheets/partials/_two_col.scss */
body.call-q #container {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}
/* line 28, ../../app/stylesheets/partials/_two_col.scss */
body.call-q #header, body.call-q #footer {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
}
/* line 138, ../../../../../../.rvm/gems/ruby-1.9.2-p136@call-q/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.call-q #header, * html body.call-q #footer {
  overflow-x: hidden;
}
/* line 30, ../../app/stylesheets/partials/_two_col.scss */
body.call-q #sidebar {
  display: inline;
  float: left;
  margin-right: 0;
  width: 270px;
}
/* line 138, ../../../../../../.rvm/gems/ruby-1.9.2-p136@call-q/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.call-q #sidebar {
  overflow-x: hidden;
}
/* line 34, ../../app/stylesheets/partials/_two_col.scss */
body.call-q #content {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 630px;
  padding-right: 40px;
}
/* line 138, ../../../../../../.rvm/gems/ruby-1.9.2-p136@call-q/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.call-q #content {
  overflow-x: hidden;
}

/* line 42, ../../app/stylesheets/partials/_two_col.scss */
#container > header {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
}
/* line 138, ../../../../../../.rvm/gems/ruby-1.9.2-p136@call-q/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #container > header {
  overflow-x: hidden;
}

/* line 45, ../../app/stylesheets/partials/_two_col.scss */
#container > footer {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
  padding-top: 20px;
  text-align: center;
  font-weight: bold;
}
/* line 138, ../../../../../../.rvm/gems/ruby-1.9.2-p136@call-q/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #container > footer {
  overflow-x: hidden;
}

/* line 1, ../../app/stylesheets/partials/_navigation.scss */
#user-navigation {
  float: right;
  white-space: no-wrap;
}

/* line 1, ../../app/stylesheets/partials/_sidebar.scss */
#sidebar {
  min-height: 320px;
  text-align: center;
  background: #b1b12c;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: #333333 1px 1px 5px 0;
  -webkit-box-shadow: #333333 1px 1px 5px 0;
  -o-box-shadow: #333333 1px 1px 5px 0;
  box-shadow: #333333 1px 1px 5px 0;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #888822), color-stop(100%, #eeeebb));
  background-image: -moz-linear-gradient(top, #888822 0%, #eeeebb 100%);
  background-image: linear-gradient(top, #888822 0%, #eeeebb 100%);
}
/* line 8, ../../app/stylesheets/partials/_sidebar.scss */
#sidebar h3 {
  background: #5f5f18;
  display: block;
  color: white;
  padding: 5px 0px 5px 0px;
  text-shadow: #444444 1px 1px 1px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -o-border-top-left-radius: 5px;
  -ms-border-top-left-radius: 5px;
  -khtml-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  -o-border-top-right-radius: 5px;
  -ms-border-top-right-radius: 5px;
  -khtml-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
}

/* line 29, ../../app/stylesheets/partials/_app.scss */
input[type='text'], textarea {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  background: white;
  -webkit-box-shadow: inset 0px 0px 5px 0px silver;
  -moz-box-shadow: inset 0px 0px 5px silver;
  box-shadow: inset 0px 0px 5px silver;
}

/* line 37, ../../app/stylesheets/partials/_app.scss */
input[type='submit'] {
  background: #eee;
  background: -moz-linear-gradient(0% 100% 90deg, #bfbfbf, #eeeeee);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eeeeee), to(#bfbfbf));
  border: 1px solid #ccc;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: inset 0 0 5px #f5f5f5;
  -webkit-box-shadow: inset 0 0 5px #f5f5f5;
  box-shadow: inset 0 0 5px #f5f5f5;
  color: #333;
  font-family: "Helvetica Nue", Helvetica, "lucida grande", sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  padding: 8px 0;
  text-align: center;
  text-shadow: 0 1px 0px #eee;
  width: 150px;
}
/* line 19, ../../app/stylesheets/partials/_app.scss */
input[type='submit']:hover {
  background: #dfdfdf;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#dfdfdf), to(#aaaaaa));
  background: -moz-linear-gradient(0% 100% 90deg, #aaaaaa, #dfdfdf);
  -moz-box-shadow: inset 0 0 5px #e5e5e5;
  -webkit-box-shadow: inset 0 0 5px #e5e5e5;
  box-shadow: inset 0 0 5px #e5e5e5;
}

/* line 40, ../../app/stylesheets/partials/_app.scss */
.edit_phone label {
  -moz-border-radius-topleft: 15px;
  -webkit-border-top-left-radius: 15px;
  -o-border-top-left-radius: 15px;
  -ms-border-top-left-radius: 15px;
  -khtml-border-top-left-radius: 15px;
  border-top-left-radius: 15px;
  -moz-border-radius-bottomleft: 15px;
  -webkit-border-bottom-left-radius: 15px;
  -o-border-bottom-left-radius: 15px;
  -ms-border-bottom-left-radius: 15px;
  -khtml-border-bottom-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background: #63a62f;
  padding: 7px 6px 6px 15px;
  -webkit-box-shadow: inset 0 0 4px #eeb;
  -moz-box-shadow: inset 0 0 4px #eeb;
  margin: -4px;
  color: white;
  text-shadow: black 1px 1px 1px;
}

/* line 51, ../../app/stylesheets/partials/_app.scss */
.edit_phone input[type='text'] {
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  -o-border-top-left-radius: 0px;
  -ms-border-top-left-radius: 0px;
  -khtml-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -o-border-bottom-left-radius: 0px;
  -ms-border-bottom-left-radius: 0px;
  -khtml-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
/* line 54, ../../app/stylesheets/partials/_app.scss */
.edit_phone input[type='submit'] {
  margin-left: 5px;
}

/* line 57, ../../app/stylesheets/partials/_app.scss */
#logo h1 {
  color: #666666;
  font-family: "Warnock Pro", "Goudy Old Style", "Palatino", "Book Antiqua", Georgia, serif;
  font-style: italic;
  font-weight: normal;
}
/* line 59, ../../app/stylesheets/partials/_app.scss */
#logo h1 a {
  text-decoration: none;
  color: inherit;
}

/* line 62, ../../app/stylesheets/partials/_app.scss */
#call-button {
  margin-top: 15px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  padding: 8px 20px 8px 20px;
  letter-spacing: 1.5px;
  color: #eeb;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: inset 0 0 5px silver;
  -webkit-box-shadow: inset 0 0 5px silver;
  box-shadow: inset 0 0 5px silver;
  text-shadow: 0 1px 0px black;
  padding-left: 40px;
  background-image: url(../images/phone.png), -webkit-gradient(linear, left top, left bottom, from(#5f5f18), to(#0e0e03)) !important;
  background-image: url(../images/phone.png), -moz-linear-gradient(top, #5f5f18, #0e0e03);
  background-repeat: no-repeat;
  background-position: 2% 50%;
  background-color: #5f5f18;
}

/* line 91, ../../app/stylesheets/partials/_app.scss */
#content {
  margin: 0px;
  text-align: center;
}

/* line 95, ../../app/stylesheets/partials/_app.scss */
#notes {
  margin: 0px;
  padding: 0px;
  text-align: center;
}
/* line 99, ../../app/stylesheets/partials/_app.scss */
#notes ul {
  text-align: justify;
  padding-left: 70px;
}
/* line 101, ../../app/stylesheets/partials/_app.scss */
#notes li {
  list-style-type: none;
  padding: 15px;
  border-top: 1px dotted silver;
  border-bottom: 1px dotted silver;
}

/* line 109, ../../app/stylesheets/partials/_app.scss */
#new_note {
  margin-left: none;
  margin-right: none;
}
/* line 112, ../../app/stylesheets/partials/_app.scss */
#new_note textarea {
  margin: none;
  padding: 5px;
}

/* line 117, ../../app/stylesheets/partials/_app.scss */
.new_note {
  margin: 0px;
  padding: 0px;
  display: inline;
}

/* line 123, ../../app/stylesheets/partials/_app.scss */
.creation_time {
  display: inline;
  float: right;
  color: white;
  background: brown;
  font-style: italic;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  width: 130px;
  text-align: center;
}

/* line 134, ../../app/stylesheets/partials/_app.scss */
button:hover, input[type='submit']:hover {
  cursor: pointer;
}
