/* line 4, ../../../../../../.rvm/gems/ruby-1.9.2-p136@ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 6, ../../../../../../.rvm/gems/ruby-1.9.2-p136@ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  font-size: 100.01%;
}

/* line 16, ../../../../../../.rvm/gems/ruby-1.9.2-p136@ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
pre, a, abbr, acronym, address, code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 18, ../../../../../../.rvm/gems/ruby-1.9.2-p136@ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  quotes: "" "";
}
/* line 45, ../../../../../../.rvm/gems/ruby-1.9.2-p136@ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 20, ../../../../../../.rvm/gems/ruby-1.9.2-p136@ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 22, ../../../../../../.rvm/gems/ruby-1.9.2-p136@ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, ../../../../../../.rvm/gems/ruby-1.9.2-p136@ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

/* line 9, ../../app/stylesheets/partials/_page.scss */
body.call-q {
  line-height: 1.5;
  font-family: "Helvetica", Arial;
  color: #333333;
  font-size: 75%;
  background: #eeb;
}
/* line 65, ../../../../../../.rvm/gems/ruby-1.9.2-p136@ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.call-q h1, body.call-q h2, body.call-q h3, body.call-q h4, body.call-q h5, body.call-q h6 {
  font-weight: normal;
  color: #222222;
}
/* line 66, ../../../../../../.rvm/gems/ruby-1.9.2-p136@ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.call-q h1 img, body.call-q h2 img, body.call-q h3 img, body.call-q h4 img, body.call-q h5 img, body.call-q h6 img {
  margin: 0;
}
/* line 67, ../../../../../../.rvm/gems/ruby-1.9.2-p136@ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.call-q h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.50em;
}
/* line 68, ../../../../../../.rvm/gems/ruby-1.9.2-p136@ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.call-q h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
/* line 69, ../../../../../../.rvm/gems/ruby-1.9.2-p136@ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.call-q h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1.00em;
}
/* line 70, ../../../../../../.rvm/gems/ruby-1.9.2-p136@ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.call-q h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
/* line 71, ../../../../../../.rvm/gems/ruby-1.9.2-p136@ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.call-q h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.50em;
}
/* line 72, ../../../../../../.rvm/gems/ruby-1.9.2-p136@ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.call-q h6 {
  font-size: 1em;
  font-weight: bold;
}
/* line 73, ../../../../../../.rvm/gems/ruby-1.9.2-p136@ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.call-q p {
  margin: 0 0 1.5em;
}
/* line 74, ../../../../../../.rvm/gems/ruby-1.9.2-p136@ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.call-q p img.left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
/* line 75, ../../../../../../.rvm/gems/ruby-1.9.2-p136@ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.call-q p img.right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}
/* line 77, ../../../../../../.rvm/gems/ruby-1.9.2-p136@ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.call-q a {
  text-decoration: underline;
  color: #000099;
}
/* line 18, ../../../../../../.rvm/gems/ruby-1.9.2-p136@ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body.call-q a:visited {
  color: #000066;
}
/* line 21, ../../../../../../.rvm/gems/ruby-1.9.2-p136@ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body.call-q a:focus {
  color: black;
}
/* line 24, ../../../../../../.rvm/gems/ruby-1.9.2-p136@ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body.call-q a:hover {
  color: black;
}
/* line 27, ../../../../../../.rvm/gems/ruby-1.9.2-p136@ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body.call-q a:active {
  color: #cc0099;
}
/* line 78, ../../../../../../.rvm/gems/ruby-1.9.2-p136@ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.call-q blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}
/* line 79, ../../../../../../.rvm/gems/ruby-1.9.2-p136@ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.call-q strong {
  font-weight: bold;
}
/* line 80, ../../../../../../.rvm/gems/ruby-1.9.2-p136@ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.call-q em {
  font-style: italic;
}
/* line 81, ../../../../../../.rvm/gems/ruby-1.9.2-p136@ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.call-q dfn {
  font-style: italic;
  font-weight: bold;
}
/* line 82, ../../../../../../.rvm/gems/ruby-1.9.2-p136@ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.call-q sup, body.call-q sub {
  line-height: 0;
}
/* line 83, ../../../../../../.rvm/gems/ruby-1.9.2-p136@ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.call-q abbr, body.call-q acronym {
  border-bottom: 1px dotted #666666;
}
/* line 84, ../../../../../../.rvm/gems/ruby-1.9.2-p136@ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.call-q address {
  margin: 0 0 1.5em;
  font-style: italic;
}
/* line 85, ../../../../../../.rvm/gems/ruby-1.9.2-p136@ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.call-q del {
  color: #666666;
}
/* line 86, ../../../../../../.rvm/gems/ruby-1.9.2-p136@ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.call-q pre {
  margin: 1.5em 0;
  white-space: pre;
}
/* line 87, ../../../../../../.rvm/gems/ruby-1.9.2-p136@ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.call-q pre, body.call-q code, body.call-q tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}
/* line 88, ../../../../../../.rvm/gems/ruby-1.9.2-p136@ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.call-q li ul, body.call-q li ol {
  margin: 0;
}
/* line 89, ../../../../../../.rvm/gems/ruby-1.9.2-p136@ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.call-q ul, body.call-q ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 3.333em;
}
/* line 90, ../../../../../../.rvm/gems/ruby-1.9.2-p136@ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.call-q ul {
  list-style-type: disc;
}
/* line 91, ../../../../../../.rvm/gems/ruby-1.9.2-p136@ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.call-q ol {
  list-style-type: decimal;
}
/* line 92, ../../../../../../.rvm/gems/ruby-1.9.2-p136@ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.call-q dl {
  margin: 0 0 1.5em 0;
}
/* line 93, ../../../../../../.rvm/gems/ruby-1.9.2-p136@ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.call-q dl dt {
  font-weight: bold;
}
/* line 94, ../../../../../../.rvm/gems/ruby-1.9.2-p136@ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.call-q dd {
  margin-left: 1.5em;
}
/* line 95, ../../../../../../.rvm/gems/ruby-1.9.2-p136@ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.call-q table {
  margin-bottom: 1.4em;
  width: 100%;
}
/* line 96, ../../../../../../.rvm/gems/ruby-1.9.2-p136@ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.call-q th {
  font-weight: bold;
}
/* line 97, ../../../../../../.rvm/gems/ruby-1.9.2-p136@ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.call-q thead th {
  background: #c3d9ff;
}
/* line 98, ../../../../../../.rvm/gems/ruby-1.9.2-p136@ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.call-q th, body.call-q td, body.call-q caption {
  padding: 4px 10px 4px 5px;
}
/* line 99, ../../../../../../.rvm/gems/ruby-1.9.2-p136@ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.call-q tr.even td {
  background: #e5ecf9;
}
/* line 100, ../../../../../../.rvm/gems/ruby-1.9.2-p136@ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.call-q tfoot {
  font-style: italic;
}
/* line 101, ../../../../../../.rvm/gems/ruby-1.9.2-p136@ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.call-q caption {
  background: #eeeeee;
}
/* line 102, ../../../../../../.rvm/gems/ruby-1.9.2-p136@ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.call-q .quiet {
  color: #666666;
}
/* line 103, ../../../../../../.rvm/gems/ruby-1.9.2-p136@ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.call-q .loud {
  color: #111111;
}
/* line 9, ../../../../../../.rvm/gems/ruby-1.9.2-p136@ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.call-q .clear {
  clear: both;
}
/* line 12, ../../../../../../.rvm/gems/ruby-1.9.2-p136@ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.call-q .nowrap {
  white-space: nowrap;
}
/* line 16, ../../../../../../.rvm/gems/ruby-1.9.2-p136@ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.call-q .clearfix {
  overflow: hidden;
  *zoom: 1;
}
/* line 18, ../../../../../../.rvm/gems/ruby-1.9.2-p136@ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.call-q .small {
  font-size: 0.8em;
  margin-bottom: 1.875em;
  line-height: 1.875em;
}
/* line 22, ../../../../../../.rvm/gems/ruby-1.9.2-p136@ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.call-q .large {
  font-size: 1.2em;
  line-height: 2.5em;
  margin-bottom: 1.25em;
}
/* line 26, ../../../../../../.rvm/gems/ruby-1.9.2-p136@ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.call-q .first {
  margin-left: 0;
  padding-left: 0;
}
/* line 29, ../../../../../../.rvm/gems/ruby-1.9.2-p136@ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.call-q .last {
  margin-right: 0;
  padding-right: 0;
}
/* line 32, ../../../../../../.rvm/gems/ruby-1.9.2-p136@ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.call-q .top {
  margin-top: 0;
  padding-top: 0;
}
/* line 35, ../../../../../../.rvm/gems/ruby-1.9.2-p136@ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.call-q .bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}
/* line 8, ../../../../../../.rvm/gems/ruby-1.9.2-p136@ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_debug.scss */
body.call-q .showgrid {
  background: url('/images/grid.png?1294712590');
}
/* line 4, ../../../../../../.rvm/gems/ruby-1.9.2-p136@ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.call-q .error {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4;
}
/* line 29, ../../../../../../.rvm/gems/ruby-1.9.2-p136@ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.call-q .error a {
  color: #8a1f11;
}
/* line 6, ../../../../../../.rvm/gems/ruby-1.9.2-p136@ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.call-q .notice {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fff6bf;
  color: #514721;
  border-color: #ffd324;
}
/* line 37, ../../../../../../.rvm/gems/ruby-1.9.2-p136@ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.call-q .notice a {
  color: #514721;
}
/* line 8, ../../../../../../.rvm/gems/ruby-1.9.2-p136@ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.call-q .success {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #e6efc2;
  color: #264409;
  border-color: #c6d880;
}
/* line 45, ../../../../../../.rvm/gems/ruby-1.9.2-p136@ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.call-q .success a {
  color: #264409;
}
/* line 10, ../../../../../../.rvm/gems/ruby-1.9.2-p136@ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.call-q .hide {
  display: none;
}
/* line 12, ../../../../../../.rvm/gems/ruby-1.9.2-p136@ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.call-q .highlight {
  background: yellow;
}
/* line 14, ../../../../../../.rvm/gems/ruby-1.9.2-p136@ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.call-q .added {
  background: #006600;
  color: white;
}
/* line 16, ../../../../../../.rvm/gems/ruby-1.9.2-p136@ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.call-q .removed {
  background: #990000;
  color: white;
}

/* line 41, ../../../../../../.rvm/gems/ruby-1.9.2-p136@ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
body.call-q .box {
  padding: 1.5em;
  margin-bottom: 1.5em;
  background: #e5ecf9;
}
/* line 44, ../../../../../../.rvm/gems/ruby-1.9.2-p136@ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
body.call-q div.border {
  padding-right: 4px;
  margin-right: 5px;
  border-right: 1px solid #eeeeee;
}
/* line 47, ../../../../../../.rvm/gems/ruby-1.9.2-p136@ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
body.call-q div.colborder {
  padding-right: 24px;
  margin-right: 25px;
  border-right: 1px solid #eeeeee;
}
/* line 49, ../../../../../../.rvm/gems/ruby-1.9.2-p136@ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
body.call-q hr {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  margin: 0 0 1.45em;
  border: none;
}
/* line 51, ../../../../../../.rvm/gems/ruby-1.9.2-p136@ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
body.call-q hr.space {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  margin: 0 0 1.45em;
  border: none;
  background: white;
  color: white;
  visibility: hidden;
}
/* line 53, ../../../../../../.rvm/gems/ruby-1.9.2-p136@ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
body.call-q form.inline {
  line-height: 3;
}
/* line 6, ../../../../../../.rvm/gems/ruby-1.9.2-p136@ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
body.call-q form.inline p {
  margin-bottom: 0;
}

/* line 18, ../../../../../../.rvm/gems/ruby-1.9.2-p136@ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
#content form label {
  font-weight: bold;
}
/* line 19, ../../../../../../.rvm/gems/ruby-1.9.2-p136@ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
#content form fieldset {
  padding: 1.4em;
  margin: 0 0 1.5em 0;
}
/* line 20, ../../../../../../.rvm/gems/ruby-1.9.2-p136@ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
#content form legend {
  font-weight: bold;
  font-size: 1.2em;
}
/* line 26, ../../../../../../.rvm/gems/ruby-1.9.2-p136@ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
#content form input.text, #content form input.title, #content form input[type=email], #content form input[type=text], #content form input[type=password] {
  margin: 0.5em 0;
  background-color: white;
  padding: 5px;
}
/* line 27, ../../../../../../.rvm/gems/ruby-1.9.2-p136@ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
#content form input.title {
  font-size: 1.5em;
}
/* line 31, ../../../../../../.rvm/gems/ruby-1.9.2-p136@ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
#content form input[type=checkbox], #content form input.checkbox, #content form input[type=radio], #content form input.radio {
  position: relative;
  top: 0.25em;
}
/* line 33, ../../../../../../.rvm/gems/ruby-1.9.2-p136@ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
#content form textarea {
  margin: 0.5em 0;
  padding: 5px;
}
/* line 34, ../../../../../../.rvm/gems/ruby-1.9.2-p136@ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
#content form select {
  margin: 0.5em 0;
}
/* line 59, ../../../../../../.rvm/gems/ruby-1.9.2-p136@ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
#content form fieldset {
  border: 1px solid #cccccc;
}
/* line 62, ../../../../../../.rvm/gems/ruby-1.9.2-p136@ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
#content form input.text, #content form input.title, #content form input[type=email], #content form input[type=text], #content form input[type=password],
#content form textarea, #content form select {
  border: 1px solid #bbbbbb;
}
/* line 64, ../../../../../../.rvm/gems/ruby-1.9.2-p136@ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
#content form input.text:focus, #content form input.title:focus, #content form input[type=email]:focus, #content form input[type=text]:focus, #content form input[type=password]:focus,
#content form textarea:focus, #content form select:focus {
  border: 1px solid #666666;
}
/* line 48, ../../../../../../.rvm/gems/ruby-1.9.2-p136@ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
#content form input.text, #content form input.title, #content form input[type=email], #content form input[type=text], #content form input[type=password] {
  width: 300px;
}
/* line 50, ../../../../../../.rvm/gems/ruby-1.9.2-p136@ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
#content form textarea {
  width: 390px;
  height: 250px;
}

/* line 8, ../../app/stylesheets/partials/_form.scss */
#flash_notice {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fff6bf;
  color: #514721;
  border-color: #ffd324;
}
/* line 37, ../../../../../../.rvm/gems/ruby-1.9.2-p136@ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
#flash_notice a {
  color: #514721;
}

/* line 11, ../../app/stylesheets/partials/_form.scss */
#flash_alert, #flash_error {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4;
}
/* line 29, ../../../../../../.rvm/gems/ruby-1.9.2-p136@ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
#flash_alert a, #flash_error a {
  color: #8a1f11;
}

/* line 24, ../../app/stylesheets/partials/_two_col.scss */
body.call-q {
  margin-top: 15px;
}
/* line 26, ../../app/stylesheets/partials/_two_col.scss */
body.call-q #container {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}
/* line 28, ../../app/stylesheets/partials/_two_col.scss */
body.call-q #header, body.call-q #footer {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
}
/* line 138, ../../../../../../.rvm/gems/ruby-1.9.2-p136@ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.call-q #header, * html body.call-q #footer {
  overflow-x: hidden;
}
/* line 30, ../../app/stylesheets/partials/_two_col.scss */
body.call-q #sidebar {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 310px;
}
/* line 138, ../../../../../../.rvm/gems/ruby-1.9.2-p136@ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.call-q #sidebar {
  overflow-x: hidden;
}
/* line 34, ../../app/stylesheets/partials/_two_col.scss */
body.call-q #content {
  padding-top: 30px;
  display: inline;
  float: left;
  margin-right: 0;
  width: 950px;
}
/* line 138, ../../../../../../.rvm/gems/ruby-1.9.2-p136@ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.call-q #content {
  overflow-x: hidden;
}

/* line 41, ../../app/stylesheets/partials/_two_col.scss */
#container > header {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
}
/* line 138, ../../../../../../.rvm/gems/ruby-1.9.2-p136@ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #container > header {
  overflow-x: hidden;
}

/* line 44, ../../app/stylesheets/partials/_two_col.scss */
#container > footer {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
  padding-top: 20px;
  text-align: center;
  font-weight: bold;
}
/* line 138, ../../../../../../.rvm/gems/ruby-1.9.2-p136@ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #container > footer {
  overflow-x: hidden;
}

/* line 1, ../../app/stylesheets/partials/_navigation.scss */
#user-navigation {
  float: right;
  white-space: no-wrap;
}
